.page{
    display: none;
}

.page-show{
    display: flex;
}

.loader {
    height: 50vh;
    width: 50vw;
    top: 0;
    left: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition: opacity 0.75s, visibility 0.75s, overflow 0.75s;
}
  
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}


.logo {
    fill: none;
    stroke-dasharray: 20000px;
    /*<-- Play with this number until it look cool */
    stroke: black;
    animation: load 5s infinite linear;
}
/*
.two{
    stroke:#d6384a;
}
.one{
    stroke:#242f43;
}
.nine{
    stroke:#d6384a;
}*/

  
@keyframes load {
    0% {
        stroke-dashoffset: 0px;
    }
  
    100% {
        stroke-dashoffset: 100000px;
        /* <-- This number should always be 10 times the number up there*/
    }
}